@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    --espaço-margem: 60px 120px;
    --cor-de-fundo: #3AD5DF, #2CE392, #44D7E4;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background: linear-gradient(
        to right, #3AD5DF,
        #2CE392, #44D7E4);
    animation: animate-background 10s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.boxcadastro{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 500px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cad-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.texto-titulo{
    font-size: 40px;
    font-weight:800;
    display: flex;
    align-items: center;
    text-align: center;
}

.texto-descricao{
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.botao-escolher{
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.botao-escolher:hover{
    border: 2px solid #2CE392;
    box-shadow: #2CE392 0 0 10px 0;
}

.botao-escolher a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.botao-continuar{
    width: 300px;
    border-radius: 20px;
    background-color: green;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    box-shadow: #0000000d 0 0 8px;
    transition: all .3s ease;
}

.botao-continuar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.botao-continuar:hover{
    background-color: blue;
}

.botao-continuar:active{
    letter-spacing: 2px;
    transform: translateY(-10px);
    transition: 100ms;
}

.voltar-login{
    padding-top: 20px;
}

.voltar-login span a{
    color: black;
}