@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
        /* Começa fora da tela */
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        /* Termina na posição original */
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    --verde: #00a274;
    --azul_escuro: #012241;
    --rosa: #febfcc;
}

body {
    background-color: var(--verde);
}

nav {
    display: flex;
    justify-content: flex-end;
}


nav ul {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    border-radius: 40px;
    position: fixed;
    margin-top: 20px;
    margin-right: 40px;
    box-shadow: 0px 0px 93px -16px rgba(0, 0, 0, 0.33);
    z-index: 1000;
    transition: transform 1.0s ease;
}

.navbar.hide {
    transform: translateY(-130%);
    /* Ajuste este valor conforme a altura do seu navbar */
}

nav ul li {
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: var(--verde);
    font-weight: 600;
}


.botao-sair {
    color: var(--verde);
    border: none;
    background-color: white;
    font-weight: 700;
}

.botao-sair:hover {
    text-decoration: underline;
    cursor: pointer;
}

.botao-perfil {
    color: white;
    font-weight: 500;
    background-color: var(--verde);
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 8rem;
}

.botao-perfil:hover {
    color: var(--verde);
    background-color: white;
    border: 2px solid var(--verde);
    font-weight: 800;

}

.section1 {
    height: 700px;
    display: flex;
}

.section1-text {
    background-color: white;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.animation1 {
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 2s ease forwards;
}

.section1-text h1 {
    font-size: 45px;
    color: var(--verde);
    font-weight: 800;
}

.section1-text p {
    font-size: 18px;
    width: 63%;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
}

.section1-text button {
    color: white;
    background-color: var(--azul_escuro);
    padding: 15px;
    width: 25%;
    border-radius: 30px;
    margin-top: 30px;
}

.section1-text button:hover {
    color: var(--azul_escuro);
    background-color: white;
    border: 2px solid var(--azul_escuro);
    font-weight: 800;
}

.section1-icon {
    padding-top: 30px;
    width: 55%;
    height: 100%;
    background-color: var(--rosa);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1-icon img {
    height: 60%;
}

.section1-icon-button {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.section1-icon button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 0 20px 0 20px;
}

.section2 {
    height: 1000px;
    background-color: #ffecf0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;

}

.section2-parte1 {
    height: 30%;
    width: 100%;
}

.section2-box1 {
    background-color: var(--azul_escuro);
    height: 100%;
    width: 50%;
    border-radius: 0 25px 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 50px;

}

.section2-box1 h2 {
    color: white;
    font-size: 30px;
}

.section2-box1 p {
    color: white;
    font-size: 18px;
    width: 70%;
}

.section2-parte2 {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: right;
}

.section2-box2 {
    background-color: var(--azul_escuro);
    height: 100%;
    width: 50%;
    border-radius: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    padding-right: 70px;
}

.section2-box2 h2 {
    text-align: right;
    color: white;
    font-size: 30px;
}

.section2-box2 p {
    text-align: right;
    color: white;
    font-size: 18px;
    width: 70%;
}


.section3 {
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.section3 h2 {
    font-size: 35px;
}

.box-empresas {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center
}

.empresa {
    height: 50%;
    width: 10%;
    background-color: #ffecf0;
}


.curve {
    background-color: white;
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 50% 100px;
    border-bottom-right-radius: 50% 100px;
}

.section4 {
    background-color: var(--verde);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section4 h2 {
    font-size: 35px;
    color: white;
}

.carousel {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: white;
    height: 80%;
    border-radius: 100px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card img {
    height: 60%;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.card-text h3 {
    font-size: 20px;
}

.card-text p {
    font-size: 15px;
}

footer {
    background-color: var(--azul_escuro);
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

footer p {
    color: white;
    padding-bottom: 20px;
}