@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    --espaço-margem: 60px 120px;
    --cor-de-fundo: #3AD5DF, #2CE392, #44D7E4;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #3AD5DF,
            #2CE392, #44D7E4);
    background-size: 400%, 400%;
    animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

form {
    background-color: white;
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding-top: 20px;
}

.container-text h1 {
    font-size: 30px;
    font-weight: 800;
}

.container-text span {
    font-size: 18px;
    font-weight: 600;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    gap: 15px;
}

.inputs span {
    font-size: 15px;
    font-weight: 600;
    color: grey;
    padding-left: 15px;
}

.inputs input {
    width: 300px;
    height: 50px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 30px;
    background-color: rgb(230, 230, 230);
    padding-left: 20px;
}

.inputs a {
    padding-top: 10px;
    color: grey;
}

.container-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.container-botao button {
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: green;
    height: 55px;
    width: 290px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: #0000000d 0 0 8px;
    transition: all .3s ease;
    padding-left: 25px;
}

.container-botao button:hover {
    background-color: rgb(230, 230, 230);
    color: green;
    border: 2px solid green;
    cursor: pointer;
}

.recuperar-senha {
    background-color: transparent;
    border: solid 2px white;
}

.recuperar-senha:hover {
    cursor: pointer;
}

button[disabled] {
    opacity: 0.8;
}

.error {
    color: salmon;
    display: none;
}

.loading {
    background-color: rgba(0, 0, 0, 0.7);
    width: 38%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading label {
    font-size: 30px;
    font-weight: bold;
}